{% extends 'base.html' %}

{% block extCSS %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='axf/main/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='axf/home/css/home.css') }}">
{% endblock %}

{% block header %}
    <header></header>
{% endblock %}

{% block footer %}
    <footer>

        <a href="{{ url_for('main.index') }}" class="home">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>首页</dd>
            </dl>
        </a>
        <a href="#" class="market">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>闪购</dd>
            </dl>
        </a>
        <a href="#" class="cart">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>购物车</dd>
            </dl>
        </a>
        <a href="#" class="mine">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>我的</dd>
            </dl>
        </a>

    </footer>
{% endblock %}
